#You will learn:

1. How to merge two pandas dataframes into one.
2. How to split a column into two columns.
3. How to merge two columns into one column.
4. How to export the transformed dataframe into a CSV file.

In [19]:
# install requirement
#!pip install pandas
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (19.6.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [20]:
# function to create a dataframe with fake data columns
from random import randint
import pandas as pd
from faker import Faker

fake = Faker('en_US')

def input_data(x):
    Faker.seed(randint(1,100))
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'id']= randint(1, 100)
        data.loc[i,'name']= fake.name()
        data.loc[i,'address']= fake.address()
        data.loc[i,'latitude']= str(fake.latitude())
        data.loc[i,'longitude']= str(fake.longitude())
    return data

In [21]:
pd1 = input_data(10)
pd1['id'] = pd1['id'].astype(int)
print(pd1.to_string())

   id             name                                               address     latitude    longitude
0  30       Sara White                      Unit 3212 Box 4077\nDPO AP 83754  -58.9705355  -164.876163
1  13   Tina Stevenson     1492 Horne Club Suite 035\nPatricialand, ME 13202   -23.970300   177.089115
2  97  Brittany Abbott  8431 Mueller Shoal Apt. 573\nSouth William, NY 30087    52.833701   -49.751595
3  19     Chad Edwards                  3461 Cox Islands\nKimshire, GU 57461     1.643105   -46.352601
4   4     Amanda Pitts   1015 Shepherd Plain Suite 986\nMasseyport, ME 49252  -11.1224625  -101.733027
5  21    Terry Lindsey                 8066 Stein Grove\nReyesstad, MD 95047   -87.711827    33.212808
6  16    Karen Mcguire         89372 Marcia Creek\nNorth Jimmytown, OH 92340   41.2044265  -153.378485
7  31      Gary Parker              81987 Scott Shoal\nStevensfurt, MT 86952  -48.4994895     3.208024
8  84     Joseph White    3923 Kurt Summit Apt. 471\nEast Nicholas, RI 74401    37.643422   134.856398
9  65     Peter Norris           23303 Parker Springs\nWest Joseph, LA 62646    58.101483   -28.222816

In [22]:
pd2 = input_data(10)
pd2['id'] = pd2['id'].astype(int)
print(pd2.to_string())

   id               name                                                address     latitude    longitude
0  67      Becky Ramirez    754 Larson Harbor\nSouth Alexanderchester, MI 60072     4.076146   -65.239328
1  47       Amanda Owens               2147 Hancock Valleys\nRyanstad, AZ 72059   -84.983523   -31.263497
2  76    Courtney Melton  02793 Smith Ford Apt. 994\nEast Destinyberg, IL 25561  -80.2416275    42.203689
3  19          Lisa Shah              37286 Yesenia Isle\nDesireeberg, NY 88615    69.559086  -112.047614
4  57        Emma Burton   85548 Crystal Junction Apt. 908\nPort Eric, SC 92431    66.921362  -101.325988
5  25          Jon Lewis    610 Lisa Vista Apt. 536\nNorth Nancyville, WY 07977    29.691807  -137.772924
6  23        Debra Evans    570 Destiny Ridges Suite 465\nNew Annland, ND 33024   48.9065955   -50.657857
7  27       Ryan Vasquez                        USCGC Christensen\nFPO AA 16763   -11.997430   -46.912951
8   9     Patrick Newton            28643 Aguilar Isle\nWest Patricia, MN 70053  -27.9582095  -111.399891
9   7  Elizabeth Estrada     758 Diane Rapids Apt. 264\nEast Lawrence, VI 15166    74.071323  -122.975270

In [23]:
# Merge df1 and df2 into another dataframe df3
# then print df3
df3 = pd.concat([pd1, pd2])
print(df3.to_string())

   id               name                                                address     latitude    longitude
0  30         Sara White                       Unit 3212 Box 4077\nDPO AP 83754  -58.9705355  -164.876163
1  13     Tina Stevenson      1492 Horne Club Suite 035\nPatricialand, ME 13202   -23.970300   177.089115
2  97    Brittany Abbott   8431 Mueller Shoal Apt. 573\nSouth William, NY 30087    52.833701   -49.751595
3  19       Chad Edwards                   3461 Cox Islands\nKimshire, GU 57461     1.643105   -46.352601
4   4       Amanda Pitts    1015 Shepherd Plain Suite 986\nMasseyport, ME 49252  -11.1224625  -101.733027
5  21      Terry Lindsey                  8066 Stein Grove\nReyesstad, MD 95047   -87.711827    33.212808
6  16      Karen Mcguire          89372 Marcia Creek\nNorth Jimmytown, OH 92340   41.2044265  -153.378485
7  31        Gary Parker               81987 Scott Shoal\nStevensfurt, MT 86952  -48.4994895     3.208024
8  84       Joseph White     3923 Kurt Summit Apt. 471\nEast Nicholas, RI 74401    37.643422   134.856398
9  65       Peter Norris            23303 Parker Springs\nWest Joseph, LA 62646    58.101483   -28.222816
0  67      Becky Ramirez    754 Larson Harbor\nSouth Alexanderchester, MI 60072     4.076146   -65.239328
1  47       Amanda Owens               2147 Hancock Valleys\nRyanstad, AZ 72059   -84.983523   -31.263497
2  76    Courtney Melton  02793 Smith Ford Apt. 994\nEast Destinyberg, IL 25561  -80.2416275    42.203689
3  19          Lisa Shah              37286 Yesenia Isle\nDesireeberg, NY 88615    69.559086  -112.047614
4  57        Emma Burton   85548 Crystal Junction Apt. 908\nPort Eric, SC 92431    66.921362  -101.325988
5  25          Jon Lewis    610 Lisa Vista Apt. 536\nNorth Nancyville, WY 07977    29.691807  -137.772924
6  23        Debra Evans    570 Destiny Ridges Suite 465\nNew Annland, ND 33024   48.9065955   -50.657857
7  27       Ryan Vasquez                        USCGC Christensen\nFPO AA 16763   -11.997430   -46.912951
8   9     Patrick Newton            28643 Aguilar Isle\nWest Patricia, MN 70053  -27.9582095  -111.399891
9   7  Elizabeth Estrada     758 Diane Rapids Apt. 264\nEast Lawrence, VI 15166    74.071323  -122.975270

In [24]:
# Sort df3 with respect id in ascending order
# then print df3
sort_df3= df3.sort_values(by='id')
print(sort_df3.to_string())

   id               name                                                address     latitude    longitude
4   4       Amanda Pitts    1015 Shepherd Plain Suite 986\nMasseyport, ME 49252  -11.1224625  -101.733027
9   7  Elizabeth Estrada     758 Diane Rapids Apt. 264\nEast Lawrence, VI 15166    74.071323  -122.975270
8   9     Patrick Newton            28643 Aguilar Isle\nWest Patricia, MN 70053  -27.9582095  -111.399891
1  13     Tina Stevenson      1492 Horne Club Suite 035\nPatricialand, ME 13202   -23.970300   177.089115
6  16      Karen Mcguire          89372 Marcia Creek\nNorth Jimmytown, OH 92340   41.2044265  -153.378485
3  19       Chad Edwards                   3461 Cox Islands\nKimshire, GU 57461     1.643105   -46.352601
3  19          Lisa Shah              37286 Yesenia Isle\nDesireeberg, NY 88615    69.559086  -112.047614
5  21      Terry Lindsey                  8066 Stein Grove\nReyesstad, MD 95047   -87.711827    33.212808
6  23        Debra Evans    570 Destiny Ridges Suite 465\nNew Annland, ND 33024   48.9065955   -50.657857
5  25          Jon Lewis    610 Lisa Vista Apt. 536\nNorth Nancyville, WY 07977    29.691807  -137.772924
7  27       Ryan Vasquez                        USCGC Christensen\nFPO AA 16763   -11.997430   -46.912951
0  30         Sara White                       Unit 3212 Box 4077\nDPO AP 83754  -58.9705355  -164.876163
7  31        Gary Parker               81987 Scott Shoal\nStevensfurt, MT 86952  -48.4994895     3.208024
1  47       Amanda Owens               2147 Hancock Valleys\nRyanstad, AZ 72059   -84.983523   -31.263497
4  57        Emma Burton   85548 Crystal Junction Apt. 908\nPort Eric, SC 92431    66.921362  -101.325988
9  65       Peter Norris            23303 Parker Springs\nWest Joseph, LA 62646    58.101483   -28.222816
0  67      Becky Ramirez    754 Larson Harbor\nSouth Alexanderchester, MI 60072     4.076146   -65.239328
2  76    Courtney Melton  02793 Smith Ford Apt. 994\nEast Destinyberg, IL 25561  -80.2416275    42.203689
8  84       Joseph White     3923 Kurt Summit Apt. 471\nEast Nicholas, RI 74401    37.643422   134.856398
2  97    Brittany Abbott   8431 Mueller Shoal Apt. 573\nSouth William, NY 30087    52.833701   -49.751595

In [25]:


def split_name_and_remove_suffixes(name):
    # List of common suffixes to remove
    # Define a list of suffixes to remove
    suffixes = [
    "Mr.",
    "Mrs.",
    "Ms.",
    "Dr.",
    "Jr.",
    "Sr.",
    "II",
    "III",
    "IV",
    "Esq.",
    "Ph.D.",
    "M.D.",
    "DVM",
    "DDS",
    "MBA",
    "RN",
    "CP",
    "JD",
    "MD"
    ]

    # Split the name into parts
    parts = name.split()

    # Remove suffixes
    cleaned_name_parts = [part for part in parts if part not in suffixes]

    # Take the first part as the first name, and the rest as the last name
    if len(cleaned_name_parts) >= 2:
        return cleaned_name_parts[0], ' '.join(cleaned_name_parts[1:])
    elif len(cleaned_name_parts) == 1:
        return cleaned_name_parts[0], ''
    else:
        return '', ''

# Apply the split_name_and_remove_suffixes function to split the 'name' column
sort_df3[['fname', 'lname']] = sort_df3['name'].apply(split_name_and_remove_suffixes).apply(pd.Series)

sort_df3.drop(columns=['name'], inplace=True)
# Print the updated DataFrame
print(sort_df3.to_string())

   id                                                address     latitude    longitude      fname      lname
4   4    1015 Shepherd Plain Suite 986\nMasseyport, ME 49252  -11.1224625  -101.733027     Amanda      Pitts
9   7     758 Diane Rapids Apt. 264\nEast Lawrence, VI 15166    74.071323  -122.975270  Elizabeth    Estrada
8   9            28643 Aguilar Isle\nWest Patricia, MN 70053  -27.9582095  -111.399891    Patrick     Newton
1  13      1492 Horne Club Suite 035\nPatricialand, ME 13202   -23.970300   177.089115       Tina  Stevenson
6  16          89372 Marcia Creek\nNorth Jimmytown, OH 92340   41.2044265  -153.378485      Karen    Mcguire
3  19                   3461 Cox Islands\nKimshire, GU 57461     1.643105   -46.352601       Chad    Edwards
3  19              37286 Yesenia Isle\nDesireeberg, NY 88615    69.559086  -112.047614       Lisa       Shah
5  21                  8066 Stein Grove\nReyesstad, MD 95047   -87.711827    33.212808      Terry    Lindsey
6  23    570 Destiny Ridges Suite 465\nNew Annland, ND 33024   48.9065955   -50.657857      Debra      Evans
5  25    610 Lisa Vista Apt. 536\nNorth Nancyville, WY 07977    29.691807  -137.772924        Jon      Lewis
7  27                        USCGC Christensen\nFPO AA 16763   -11.997430   -46.912951       Ryan    Vasquez
0  30                       Unit 3212 Box 4077\nDPO AP 83754  -58.9705355  -164.876163       Sara      White
7  31               81987 Scott Shoal\nStevensfurt, MT 86952  -48.4994895     3.208024       Gary     Parker
1  47               2147 Hancock Valleys\nRyanstad, AZ 72059   -84.983523   -31.263497     Amanda      Owens
4  57   85548 Crystal Junction Apt. 908\nPort Eric, SC 92431    66.921362  -101.325988       Emma     Burton
9  65            23303 Parker Springs\nWest Joseph, LA 62646    58.101483   -28.222816      Peter     Norris
0  67    754 Larson Harbor\nSouth Alexanderchester, MI 60072     4.076146   -65.239328      Becky    Ramirez
2  76  02793 Smith Ford Apt. 994\nEast Destinyberg, IL 25561  -80.2416275    42.203689   Courtney     Melton
8  84     3923 Kurt Summit Apt. 471\nEast Nicholas, RI 74401    37.643422   134.856398     Joseph      White
2  97   8431 Mueller Shoal Apt. 573\nSouth William, NY 30087    52.833701   -49.751595   Brittany     Abbott

In [26]:
# Merge latitude and longitude columns into location column
# in <latitude>, <longitude> format
# make sure to remove latitude and longitude columns after that
# then print df3
# df3 has columns including id, fname, lname, address and location now
sort_df3['location'] = sort_df3['latitude'].astype(str) + ', ' + sort_df3['longitude'].astype(str)

# Remove latitude and longitude columns
sort_df3.drop(columns=['latitude', 'longitude'], inplace=True)

# Print the updated DataFrame
print(sort_df3.to_string())

   id                                                address      fname      lname                  location
4   4    1015 Shepherd Plain Suite 986\nMasseyport, ME 49252     Amanda      Pitts  -11.1224625, -101.733027
9   7     758 Diane Rapids Apt. 264\nEast Lawrence, VI 15166  Elizabeth    Estrada    74.071323, -122.975270
8   9            28643 Aguilar Isle\nWest Patricia, MN 70053    Patrick     Newton  -27.9582095, -111.399891
1  13      1492 Horne Club Suite 035\nPatricialand, ME 13202       Tina  Stevenson    -23.970300, 177.089115
6  16          89372 Marcia Creek\nNorth Jimmytown, OH 92340      Karen    Mcguire   41.2044265, -153.378485
3  19                   3461 Cox Islands\nKimshire, GU 57461       Chad    Edwards      1.643105, -46.352601
3  19              37286 Yesenia Isle\nDesireeberg, NY 88615       Lisa       Shah    69.559086, -112.047614
5  21                  8066 Stein Grove\nReyesstad, MD 95047      Terry    Lindsey     -87.711827, 33.212808
6  23    570 Destiny Ridges Suite 465\nNew Annland, ND 33024      Debra      Evans    48.9065955, -50.657857
5  25    610 Lisa Vista Apt. 536\nNorth Nancyville, WY 07977        Jon      Lewis    29.691807, -137.772924
7  27                        USCGC Christensen\nFPO AA 16763       Ryan    Vasquez    -11.997430, -46.912951
0  30                       Unit 3212 Box 4077\nDPO AP 83754       Sara      White  -58.9705355, -164.876163
7  31               81987 Scott Shoal\nStevensfurt, MT 86952       Gary     Parker     -48.4994895, 3.208024
1  47               2147 Hancock Valleys\nRyanstad, AZ 72059     Amanda      Owens    -84.983523, -31.263497
4  57   85548 Crystal Junction Apt. 908\nPort Eric, SC 92431       Emma     Burton    66.921362, -101.325988
9  65            23303 Parker Springs\nWest Joseph, LA 62646      Peter     Norris     58.101483, -28.222816
0  67    754 Larson Harbor\nSouth Alexanderchester, MI 60072      Becky    Ramirez      4.076146, -65.239328
2  76  02793 Smith Ford Apt. 994\nEast Destinyberg, IL 25561   Courtney     Melton    -80.2416275, 42.203689
8  84     3923 Kurt Summit Apt. 471\nEast Nicholas, RI 74401     Joseph      White     37.643422, 134.856398
2  97   8431 Mueller Shoal Apt. 573\nSouth William, NY 30087   Brittany     Abbott     52.833701, -49.751595

In [27]:
# write df3 to a CSV file named output_data.csv
# Split name column into two columns fname and lname
# make sure to remove name column after that
# then print df3
sort_df3.to_csv('output_data.csv', index=False)

**Conclusion**
1. Merging dataframes into a single dataframe.

2. Sorting the new dataframe in ascending order of id attribute.

3. Splitting a Name into First and Last Name:

   - The code snippet takes a DataFrame with a 'name' column and splits it into 'firstname' and 'lastname' columns.
   - Removing Specific Suffixes from Names: The code removes specific suffixes (e.g., "Mr." and "MD") from names in a DataFrame while splitting them into 'firstname' and 'lastname' columns.
4. Merging Latitude and Longitude into a Location Column:
   - This code merges 'latitude' and 'longitude' columns into a single 'location' column and removes the original latitude and longitude columns.
5. Finally writing DataFrame to a CSV File and Splitting Names: All the above code ensures that the 'name' column is split into 'fname' and 'lname' columns, also we remove the original 'name' column and print the resulting DataFrame, and writes it to a CSV file named 'output_data.csv'.